<nav class="sidebar">

  <!-- LOGO + SOTTOTITOLO -->
  <div class="logo-block">
  <div class="logo-row">
    <div class="logo-avatar">EX</div>
    <div class="logo-text-block">
      <div class="logo">ExoERP</div>
      <div class="subtitle">ENTERPRISE SUITE</div>
    </div>
  </div>
</div>


  <!-- SEPARATORE -->
  <div class="separator"></div>

  <!-- TITOLO GRUPPO MENU -->
  <div class="menu-group-title">PRINCIPALE</div>

  <!-- MENU -->
  <ul class="menu">
    <li class="menu-item">
      <span class="icon material-icons">dashboard</span>
      <span class="label">Dashboard</span>
    </li>

    <li class="menu-item active">
      <span class="icon material-icons">receipt_long</span>
      <span class="label">Fatture</span>
    </li>

    <li class="menu-item">
      <span class="icon material-icons">shopping_cart</span>
      <span class="label">Ordini</span>
    </li>

    <li class="menu-item">
      <span class="icon material-icons">inventory_2</span>
      <span class="label">Magazzino</span>
    </li>

    <li class="menu-item">
      <span class="icon material-icons">groups</span>
      <span class="label">Clienti</span>
    </li>

    <li class="menu-item">
      <span class="icon material-icons">local_shipping</span>
      <span class="label">Fornitori</span>
    </li>
  </ul>

  <!-- TITOLO GRUPPO MENU -->
  <div class="menu-group-title">CONTABILITÀ</div>

  <!-- MENU -->
  <ul class="menu">
    <li class="menu-item">
      <span class="icon material-icons">account_balance</span>
      <span class="label">Prima Nota</span>
    </li>

    <li class="menu-item">
      <span class="icon material-icons">bar_chart</span>
      <span class="label">Report</span>
    </li>

    <li class="menu-item">
      <span class="icon material-icons">event</span>
      <span class="label">Scadenzario</span>
    </li>
  </ul>

  <!-- TITOLO GRUPPO MENU -->
  <div class="menu-group-title">SISTEMA</div>

  <!-- MENU -->
  <ul class="menu">
    
    <li class="menu-item">
      <span class="icon material-icons">settings</span>
      <span class="label">Impostazioni</span>
    </li>

    <li class="menu-item">
      <span class="icon material-icons">person</span>
      <span class="label">Supporto</span>
    </li>

  </ul>

  <!-- SEPARATORE -->
  <div class="separator"></div>
  <ul class="menu">
    
    <li class="menu-item">
      <span class="icon material-icons">logout</span>
      <span class="label">Disconnetti</span>
    </li>
  </ul>
  

</nav>


