<nav class="sidebar">
  <div class="logo">
    <span class="logo-text">ExoERP</span>
  </div>

  <ul class="menu">
    <li class="menu-item active">
      <span class="icon material-icons">dashboard</span>
      <span class="label">Dashboard</span>
    </li>

    <li class="menu-item">
      <span class="icon material-icons">receipt_long</span>
      <span class="label">Fatture</span>
    </li>

    <li class="menu-item">
      <span class="icon material-icons">inventory_2</span>
      <span class="label">Magazzino</span>
    </li>

    <li class="menu-item">
      <span class="icon material-icons">settings</span>
      <span class="label">Impostazioni</span>
    </li>
  </ul>
</nav>

