@font-face {
	font-family: "Syne";
	src: url("/assets/fonts/Syne/Syne-VariableFont_wght.ttf") format("truetype");
	font-weight: 400 600 700 800;

}

@font-face {
	font-family: "Inter";
	src: url("/assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
	font-weight: 300 400 500 600;
}

@font-face {
	font-family: "JetBrains Mono";
	src: url("/assets/fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
	font-weight: 400 500 600 700;
}


:root {
	--font-display: "Syne", "Segoe UI", sans-serif;
	--font-ui: "Inter", "Segoe UI", sans-serif;
	--font-mono: "JetBrains Mono", "Consolas", monospace;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: var(--font-ui);
}

